* {
 margin:0px;
}

body {
    background-image:url('../images/background.png');
    margin:0px;
    margin-bottom:100px;
}
h1 h2 {
    font-family:'Georgia', Times, 'Times New Roman', serif;
}

h2 {
    color:#4aaaa5;
    margin-bottom:10px;
}

.bio {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}



.nav-edits {
    width:960px;
    position:relative;
    margin:auto;
}

a:link{
    color:grey;
    text-decoration:none;
    margin-right:50px;

}

li {
    display:flex;
    font-family:Helvetica;
    color:grey;
    float:right;
    text-decoration:none;
    line-height:100px;
    width:100px;
}


    .navbar-light .navbar-brand {
    position:left;
    width:200px;
    background-color:#4aaaa5;
    color:white;
    height:100px;
    text-align:center;
    align-content:left;
    line-height:100px;
    margin-left:0px;
    }

    

.bio-img {
    float:left;
    border-radius:75%;
}
hr {
    color:red;
    border-width:2px;
}

.bio .col-md-6 {
    height:1000px;
}

.middle-container {
    color:grey;
    background-color:white;
    margin:auto;
    padding:15px;
    margin-top:50px;
    width:75%;

}


#floated {
    float:left;
}

.bio{
    font-family:'Helvetica Neue', Helvetica, sans-serif;
    position:relative;
    width:960px;
    justify-content:left;
    margin:5px;
    padding:10px;
    line-height:24px;
}

.flex-wrap {
    position:relative;
    justify-content:flex-start;
    width:480px;
    margin:auto;
}

/* div.card-body {
    background-color:#4aaaa5 !important;
    text-align:center;
} */

div .footer{
position:relative;
background-color:#666666;
float:none;

}

.project-box {
    position:relative;
    background-color:#4aaaa5;
    margin:-25px;
    width:210px;
    left:35px;
    }

.project-text {
    color:white;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.project-img {
    position:relative;
    height:100%;
    width:100%;
}

form {
    margin-top:20px;
}

label {
    font-size:18px;
    font-family:'Helvetica Neue', Helvetica, sans-serif;
}
input {
    width:100%;
    padding:5px;
}

.message-input {
    height:250px;
}


.submit-but {
    background-color:#4aaaa5;
    color:white;
    font-size:20px;
    font-family:'Helvetica Neue', Helvetica, sans-serif;
}
.project-img {
    padding:100px;
    margin:10px;
    border:10px;
    

}

.port-text {
    color:white;
    background-color:#4aaaa5;
    text-align:center;
    padding:10px;
    z-index:5555;
    
    
}